.App {
  text-align: center;
}

.card-title{
  color: #989ea3;
  font-size: 15px;
  font-weight: 750;
  text-transform: uppercase;
}

.btn{
  background-color: #4ba2ff;
  border-color: #4ba2ff;
  border-radius: 25px;  
  width: 100%;
  
}

.card-subtitle{
  font-size: 50px;
}

.flex-start{
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  list-style-type: none;
  text-transform: capitalize;
}

.unavailable{
  color: #989ea3
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background-image: linear-gradient(to bottom right, #0265e7, #31abfe);
   overflow: auto; /*Re-enable scrolling for the content */
}

/* .container {
  overflow: auto; Re-enable scrolling for the container
} */